:root {
  --step--2: clamp(0.78rem, calc(0.61rem + 0.75vw), 1.28rem);
  --step--1: clamp(0.94rem, calc(0.70rem + 1.00vw), 1.60rem);
  --step-0: clamp(1.13rem, calc(0.82rem + 1.31vw), 2.00rem);
  --step-1: clamp(1.35rem, calc(0.95rem + 1.73vw), 2.50rem);
  --step-2: clamp(1.62rem, calc(1.09rem + 2.26vw), 3.13rem);
  --step-3: clamp(1.94rem, calc(1.25rem + 2.95vw), 3.91rem);
  --step-4: clamp(2.33rem, calc(1.43rem + 3.83vw), 4.88rem);
  --step-5: clamp(2.80rem, calc(1.64rem + 4.96vw), 6.10rem);

  --clr-primary-pink: hsl(322, 100%, 66%);
  --clr-neutral-grayish-blue: hsl(208, 11%, 55%);
  --clr-neutral-very-pale-cyan: hsl(193, 100%, 96%);
  --clr-neutral-very-dark-cyan: hsl(192, 100%, 9%);

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;

  --font-heading: 'Poppins', sans-serif;
  --font-body: 'Open Sans', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#page-wrap {
  --btn-main: var(--clr-primary-pink);
  --bg-header: var(--clr-neutral-very-pale-cyan);
  --bg-footer: var(--clr-neutral-very-dark-cyan);
  --title: var(--clr-neutral-very-dark-cyan);
  --paragraph: var(--clr-neutral-grayish-blue);
}

h1,
p {
  margin-bottom: 2rem;
}

h1,
h2 {
  color: var(--title);
}

img {
  max-width: 100%;
}

a {
  border: none;
  border-radius: 2rem;
  text-decoration: none;
  color: inherit;
  font-weight: var(--fw-700);
}

.header-banner,
.intro__section,
.article,
.sign-up-box__section,
.wrapper__footer,
.wrapper-logo__footer {
  margin: 0 auto;
  width: 90%;
}

/* HEADER */
.header {
  background: var(--bg-header) url("../images/bg-hero-mobile.svg") no-repeat 100%/cover;
  font-family: var(--font-heading);
  text-align: center;
}

/* Banner */
.header-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.huddle-logo {
  max-width: clamp(126rem / 16, 1.63rem + 20vw, 226rem / 16);
}

.btn-sign-up__header {
  background-color: #fff;
  padding: .3rem 1.5rem;
  font-size: var(--step--2);
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-sign-up__header:focus,
.btn-sign-up__header:hover {
  color: var(--clr-neutral-grayish-blue);
}

/* Intro Section */
.intro__section {
  width: 90%;
  padding-bottom: 2rem;
  margin-bottom: 5rem;
}

.intro__section h1 {
  font-size: var(--step-0);
}

.intro__section p {
  font-size: var(--step--2);
  line-height: 1.6;
  font-family: var(--font-body);
}

.btn-sign-up__main {
  background-color: var(--btn-main);
  padding: 1rem 3.5rem;
  color: #fff;
  font-size: var(--step--2);
}

.btn-sign-up__main:focus,
.btn-sign-up__main:hover {
  background-color: hsl(322, 70%, 66%);
  color: var(--clr-neutral-very-pale-cyan);
}

@media (min-width: 1084px) {
  .header {
    background-image: url("../images/bg-hero-desktop.svg");
    text-align: left;
  }

  .intro__section {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    align-items: center;
  }

  .header h1 {
    line-height: 1.1;
    margin-right: 10rem;
  }

  .header p {
    margin-right: 5rem;
  }
}

/* MAIN */
.main {
  font-family: var(--font-body);
  text-align: center;
  position: relative;
}

/* ARTICLES */
.article {
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 0 1px 10px 0 #fff, 0 1px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
}

.last-article {
  margin-bottom: 15rem;
}

.article img {
  padding: 2rem 1rem;
}

.article h2 {
  margin: 1rem 0;
  font-size: var(--step--1);
}

.article p {
  color: var(--paragraph);
  padding-inline: 1rem;
}

@media (min-width: 768px) {
  .article {
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 5rem;
  }

  .reverse {
    flex-direction: row-reverse;
    padding-inline-start: 3rem;
  }

  .text-content__article {
    padding-inline-start: 3rem;
  }

  .article p {
    line-height: 1.6;
    padding: 0;
    padding-inline-end: 5rem;
  }

  .article img {
    padding: 0;
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .article {
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 10rem;
    padding: 3rem 0;
  }

  .article img {
    margin-right: 1rem;
  }

  .reverse {
    flex-direction: row-reverse;
    padding-inline-start: 5rem;
  }

  .reverse img {
    margin-right: 0;
  }

  .text-content__article {
    padding-inline-start: 5rem;
  }
}

/* Sign up */
.sign-up-wrapper__float {
  height: auto;
  margin: -3rem auto;
  display: grid;
  place-items: center;
  width: min(90%, 700rem / 16);
  padding: 0 1rem;
  border-radius: 1rem;
  background-color: #fff;
}

.sign-up-wrapper__float h2 {
  margin-bottom: 1rem;
  font-size: var(--step-0);
}

.sign-up-wrapper__float a {
  margin-bottom: 1rem;
}

/* FOOTER */
.footer {
  background-color: var(--bg-footer);
  padding-top: 10rem;
  color: var(--clr-neutral-very-pale-cyan);
  font-family: var(--font-body);
}

.wrapper__footer {
  margin-bottom: 5rem;
}

.list {
  list-style-type: none;
}

/* Text List */
.text-list {
  position: relative;
  margin-top: 1rem;
}

.text-list .icon {
  padding-inline-end: 1rem;
}

.text-list .icon-location {
  position: absolute;
}

.text-list li {
  padding-bottom: 1.5rem;
}

.text-list span {
  display: block;
  padding-left: 2.5rem;
}

/* Nav List */
.nav-list {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.nav-list a {
  font-weight: var(--fw-400);
}

.nav-list a:focus,
.nav-list a:hover {
  text-decoration: underline;
}

.nav-list li {
  margin-bottom: 1rem;
}

/* Icons & Copyright */
.icons-box {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.icons-box a {
  display: grid;
  place-items: center;
  border: 1px solid var(--clr-neutral-grayish-blue);
  border-radius: 50%;
  min-width: 2rem;
  aspect-ratio: 1 / 1;
}

.icons-box a svg {
  margin-left: 0;
  color: #fff;
  width: 35%;
  height: 35%;
  padding: .1rem;
}

.footer-wrapper-three p {
  margin-top: 1rem;
  font-size: var(--step--3);
  text-align: center;
}

@media (min-width: 780px) {
  .wrapper__footer {
    display: grid;
    align-items: baseline;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 5rem;
  }

  .huddle-logo__footer {
    width: 25%;
    height: 25%;
  }

  .nav-list {
    columns: 2;
  }

  .icons-box {
    justify-content: flex-start;
  }

  .footer-wrapper-three {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .footer-wrapper-three p {
    text-align: left;
  }

  .icons-box a:focus,
  .icons-box a:hover {
    border: 1px solid var(--clr-primary-pink);
  }

  .icons-box a svg:focus,
  .icons-box a svg:hover {
    color: var(--clr-primary-pink);
  }
}

.attribution {
  font-size: var(--step--1);
  text-align: center;
  margin: 0;
  background-color: #fff;
  color: #000;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}